div.about-wrapper
  img.wv(src="../img/wv.png")
  h3 West Virginia
  h4 Electronic Field Guide
  p.version.bold Version 6.0.3
  p.eh Created for: 
  p.bold West Virginia Local Health Departments - Environmental Health
  p.eh by:
  img.eh(src="../img/sd.png")
  p Daniel McNeil, R.S.
    br 
    | #[a.email(href="mailto:smellydogcoding@gmail.com") smellydogcoding@gmail.com]
  button.close-about OK