include ./partials/_head.pug
body
  .page-wrap
    include ./partials/_nav.pug
    div.wrapper
      p.section-title.bold Body Art Studios
      div.accordion
        a(href="")
          p.title State and Local Rules
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/tattoo/rules/Tattoo%20Rules.pdf") WV Code 16-38 Tattoo Studio Business
                td 
                  a.doc(href="/docs/tattoo/rules/Body%20Piercing%20Rules.pdf") 64 CSR 80 Body Piercing Studio Business
      div.accordion
        a(href="")
          p.title Procedure Manual
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/tattoo/pro/DC-6%20Tattoo%20Studios.pdf") DC-6 Tattoo Studios
                td 
                  a.doc(href="/docs/tattoo/pro/DC-11%20Risk%20Factors%20Associated%20with%20Tattoos.pdf") DC-11 Risk Factors Associated with Tattoos
              tr
                td 
                  a.doc(href="/docs/tattoo/pro/DC-8%20Body%20Piercing%20Studio%20Business%20Rule.pdf") DC-8 Body Piercing Studio Business Rule
                td 
                  a.doc(href="/docs/tattoo/pro/DC-12%20Microdermal%20Piercing.pdf") DC-12 Microdermal Piercing
              tr
                td 
                  a.doc(href="/docs/tattoo/pro/DC-9%20Use%20Of%20Pre-sterilized%20Instruments%20in%20Tattoo%20Studios.pdf") DC-9 Use of Pre-sterilized Instruments in Tattoo Studios
                td 
                  a.doc(href="/docs/tattoo/pro/DC-13%20Temporary-Mobile%20Tattoo%20Studios.pdf") DC-13 Temporary - Mobile Tattoo Studios
              tr
                td 
                  a.doc(href="/docs/tattoo/pro/DC-10%20Autoclave%20Requirements%20in%20Body%20Piercing%20Studios.pdf") DC-10 Autoclave Requirements in Body Piercing Studios
      div.accordion
        a(href="")
          p.title Forms
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/tattoo/forms/Tattoo%20Inspection.pdf") Tattoo Studio Inspection
                td 
                  a.doc(href="/docs/tattoo/forms/Body%20Piercing%20Inspection.pdf") Body Piercing Studio Inspection
              tr
                td 
                  a.doc(href="/docs/tattoo/forms/Tattoo%20Studio%20Plan%20Review.pdf") Tattoo Studio Plan Review
                td 
                  a.doc(href="/docs/tattoo/forms/SG-86%20Piercing%20Studio%20Plan%20Review.pdf") Body Piercing Studio Plan Review
              tr
                td 
                  a.doc(href="/docs/tattoo/forms/Temporary%20Body%20Art%20Application.pdf") Temporary Body Art Studio Application
                td 
                  a.doc(href="/docs/tattoo/forms/SG-88%20Piercing%20Tech%20Registration%20App.pdf") SG-88 Body Piercing Technician Registration
      div.accordion
        a(href="")
          p.title Handouts
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/tattoo/hand/64-80A%20Body%20Piercing%20Studio%20Rule%20Public%20Notice.pdf") 64-80A Body Piercing Public Notice
      div.accordion.last
        a(href="")
          p.title Reference
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/tattoo/ref/Temporary%20Tattoo%20Studio%20Checklist.pdf") Temporary Tattoo Studio Checklist
    include ./partials/_footer.pug
  div.about.hidden
    include ./partials/_about.pug
  include ./partials/_scripts.pug