include ./partials/_head.pug
body
  div.page-wrap
    include ./partials/_nav.pug
    div.wrapper
      p.section-title.bold Food Establishments
      div.accordion
        a(href="")
          p.title 2005 FDA Food Code
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/food/fc/Chapter%201%20Purpose%20and%20Definitions.pdf") Chapter 1 Purpose and Definitions
                td 
                  a.doc(href="/docs/food/fc/FC%20Annex%201%20Enforcement.pdf") Annex 1 Compliance and Enforcement
              tr
                td 
                  a.doc(href="/docs/food/fc/Chapter%202%20Management%20and%20Personnel.pdf") Chapter 2 Management and Personnel
                td 
                  a.doc(href="/docs/food/fc/FC%20Annex%202%20References.pdf") Annex 2 References
              tr
                td
                  a.doc(href="/docs/food/fc/Chapter%203%20Food.pdf") Chapter 3 Food
                td 
                  a.doc(href="/docs/food/fc/FC%20Annex%203%20Public%20Health%20Reasons.pdf") Annex 3 Public Health Reasons
              tr
                td 
                  a.doc(href="/docs/food/fc/Chapter%204%20Equipment%20Utensils%20and%20Linens.pdf") Chapter 4 Equipment and Utensils
                td 
                  a.doc(href="/docs/food/fc/FC%20Annex%204%20Active%20Managerial%20Control.pdf") Annex 4 Active Managerial Control
              tr
                td 
                  a.doc(href="/docs/food/fc/Chapter%205%20Water%20Plumbing%20and%20Waste.pdf") Chapter 5 Water, Plumbing, and Waste
                td 
                  a.doc(href="/docs/food/fc/FC%20Annex%205%20Conducting%20Risk%20Based%20Inspections.pdf") Annex 5 Conducting Risk Based Inspections
              tr
                td 
                  a.doc(href="/docs/food/fc/Chapter%206%20Physical%20Facilities.pdf") Chapter 6 Physical Facilities
                td 
                  a.doc(href="/docs/food/fc/FC%20Annex%206%20Food%20Processing%20Criteria.pdf") Annex 6 Food Processing Criteria
              tr
                td 
                  a.doc(href="/docs/food/fc/Chapter%207%20Poisonous%20or%20Toxic%20Materials.pdf") Chapter 7 Poisonous or Toxic Materials
                td 
                  a.doc(href="/docs/food/fc/FC%20Annex%207%20Model%20Forms.pdf") Annex 7 Model Forms
              tr
                td 
                  a.doc(href="/docs/food/fc/Chapter%208%20Complience%20and%20Enforcement.pdf") Chapter 8 Complience and Enforcement
      div.accordion
        a(href="")
          p.title State and Local Rules
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/food/fc/64CSR17%20Food%20Establishments.pdf") 64CSR17 Food Establishments
                td 
                  a.doc(href="#") Your County's
              tr
                td 
                  a.doc(href="/docs/food/fc/64CSR43%20Food%20Manufactoring%20Facilities.pdf") 64CSR43 Food Manufacturing Facilities
                td 
                  a.doc(href="#") Board of Health Rules
              tr
                td 
                  a.doc(href="/docs/food/fc/21CFR110%20Good%20Manufactoring%20Practice%20in%20Food%20Manufactoring.pdf") 21CFR110 Good Manufactoring Practice in Food Manufactoring
                td 
                  a.doc(href="#") Would go in
              tr
                td 
                  a.doc(href="/docs/food/fc/Acidified%20Food%20Manufacturer%20Requirements%20Checklist.pdf") Acidified Food Manufacturer Requirements Checklist
                td 
                  a.doc(href="#") this section
              tr
                td 
                  a.doc(href="/docs/food/fc/WVU_Food_Process_Authority.pdf") WVU Food Processor Checklist
                td 
              tr
                td 
                  a.doc(href="/docs/food/fc/WV%20Code%2019-35%20Farmers%20Markets.pdf") WV Code 19-35 Farmer's Markets
                td 
              tr
                td
                  a.doc(href="/docs/food/fc/WV%20Code%2016-2-16.pdf") WV Code 16-2-16 Food Handler's Cards 
                td
      div.accordion
        a(href="")
          p.title Farmer's Markets
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/food/ref/Farmers%20Market%20Requirements.pdf") Farmer's Market Requirements
                td 
                  a.doc(href="/docs/food/forms/Uniform%20Farmer's%20Market%20Application.pdf") Uniform Farmer's Market Application
              tr
                td 
                  a.doc(href="/docs/food/ref/Farmers%20Market%20Vendor%20Guide%20large.pdf") Farmer's Market Vendor Guide
                td
                  a.doc(href="/docs/food/forms/Farmer's%20Market%20Registration%20Form.pdf") Farmer's Market Registration Form
              tr
                td 
                  a.doc(href="/docs/food/ref/culinary%20herbs.pdf") Culinary Herbs
                td
      div.accordion
        a(href="")
          p.title Procedure Manual
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/food/pro/F-1%20Standardization%20Procedures%20for%20Local%20Health%20Department%20Food%20Sanitarians.pdf") F-1 Standardization Procedures for Sanitarians
                td 
                  a.doc(href="/docs/food/pro/F-12%20MOU%20Department%20of%20Agriculture%20and%20the%20Bureau%20for%20Public%20Health.pdf") F-12 MOU between Dept. of Agriculture and BPH
              tr
                td 
                  a.doc(href="/docs/food/pro/F-2%20Toilet%20Facilities%20In%20Food%20Service%20Establishments.pdf") F-2 Toilet Facilities in Food Establishments
                td 
                  a.doc(href="/docs/food/pro/F-13%20Fees%20for%20Food%20Service%20Workers%20Training.pdf") F-13 Fees for Food Service Worker Training
              tr
                td 
                  a.doc(href="/docs/food/pro/F-4%20Low%20Temperature%20Home%20Cookers%20and%20Crock%20Pots.pdf") F-4 Low Temperature Home Cookers and Crock Pots
                td 
                  a.doc(href="/docs/food/pro/F-14%20Demonstration%20and%20Instruction%20in%20Food%20Establishments.pdf") F-14 Food Demonstration and Cooking Classes
              tr
                td 
                  a.doc(href="/docs/food/pro/F-5%20Damaged%20Metal%20Food%20Containers%20(Tinned%20Cans).pdf") F-5 Damaged Metal Food Containers - Cans
                td 
                  a.doc(href="/docs/food/pro/F-15%20Guidance%20for%20MobilePushcartTemporary%20Food%20Establishments.pdf") F-15 Guidance for MFU's and TFE's
              tr
                td 
                  a.doc(href="/docs/food/pro/F-6%20Molded%20Cheese.pdf") F-6 Molded Cheese
                td 
                  a.doc(href="/docs/food/pro/F-16%20Food%20Permits%20at%20Farmers%20Markets.pdf") F-16 Food Permits at Farmer's Markets
              tr
                td 
                  a.doc(href="/docs/food/pro/F-7%20Home%20Canned%20and%20Prepared%20Foods%20at%20Fairs%20and%20Farmers%20Markets.pdf") F-7 Home Canned and Prepared Foods at Farmer's Markets
                td 
                  a.doc(href="/docs/food/pro/F-17%20Minimum%20Training%20Guidelines%20for%20Food%20Handler%20Cards.pdf") F-17 Minimum Training Guidelines for Food Handler's Cards
              tr
                td 
                  a.doc(href="/docs/food/pro/F-8%20Salvage%20Operation%20in%20Association%20with%20Food%20Establishments.pdf") F-8 Salvage Operations at Food Establishments
                td 
                  a.doc(href="/docs/food/pro/E-3%20Instructions%20for%20Fire%20Damage%20Assessment.pdf") E-3 Fire Damage Assesment in Food Establishments
              tr
                td 
                  a.doc(href="/docs/food/pro/F-9%20Food%20Kiosks%20in%20Shopping%20Malls.pdf") F-9 Food Kiosks in Shopping Malls
                td 
                  a.doc(href="/docs/food/pro/SG-83%20Retail%20Food%20Safety.pdf") SG-83 Flood Sanitiation for Food Service and Retail
              tr
                td 
                  a.doc(href="/docs/food/pro/F-10%20Bake%20Sales.pdf") F-10 Bake Sales
                td 
                  a.doc(href="/docs/food/pro/SG-83A%20Fire%20Damage%20Assessment%20at%20Retail%20Food.pdf") SG-83A Fire Damage Assesment at Retail Food
              tr
                td 
                  a.doc(href="/docs/food/pro/F-11%20Refrigeration%20of%20Soft%20or%20Cream%20Filled%20Pies%20in%20Food%20Establishments.pdf") F-11 Soft and Cream Filled Pies in Food Establishments
                td 
      div.accordion
        a(href="")
          p.title Forms
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/food/forms/Water%20Heater%20Calculator.pdf") Water Heater Calculator
                td 
                  a.doc(href="/docs/food/forms/Form%20A%20-%20Case%20History.pdf") Form A - Case History
              tr
                td 
                  a.doc(href="/docs/food/forms/SS-195%20Grease%20Trap%20Sizing%20Form.pdf") SS-195 Grease Trap Sizing Form
                td 
                  a.doc(href="/docs/food/forms/Form%20B%20-%20Summary%20of%20Case%20Histories.pdf") Form B - Summary of Case Histories
              tr
                td 
                  a.doc(href="/docs/food/forms/TFE%20Application.pdf") Temporary Food Establishment Application
                td 
                  a.doc(href="/docs/food/forms/Form%20C%20-%20Food%20Preparation%20and%20Sanitation%20Report.pdf") Form C - Food Preparation and Sanitation Report
              tr
                td 
                  a.doc(href="/docs/food/forms/Bake%20Sale%20Application.pdf") Bake Sale Application
                td 
                  a.doc(href="/docs/food/forms/Laboratory%20Submission%20Form%20-%20Food.pdf") Labatory Submission Form - Food
              tr
                td 
                  a.doc(href="/docs/food/forms/Non-profit%20Exemption%20Application.pdf") Non-profit Exemption Application
                td 
                  a.doc(href="/docs/food/forms/Food%20Establishment%20Inspection.pdf") Food or Retail Establishment Inspection
              tr
                td 
                  a.doc(href="/docs/food/forms/SF43%20Food%20Manufacturer%20Application%20fill%20in.pdf") SF-43 Food Manufacturer Application 
                td 
                  a.doc(href="/docs/food/forms/Food%20Establishment%20-%20Retail%20Inspection.pdf") Food and Retail (together) Establishment Inspection
              tr
                td 
                  a.doc(href="/docs/food/forms/Embargo%20Form.pdf") Embargo Form
                td 
      div.accordion
        a(href="")
          p.title Handouts
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                th
                  img(src="../img/us.jpg")
                th
                  img(src="../img/mexico.jpg")
                th
                  img(src="../img/china.jpg")
              tr
                td 
                  a.doc(href="/docs/food/hand/cooling.pdf") Food Cooling Guide
                td 
                  a.doc(href="/docs/food/hand/cooling%20(Spanish).pdf") Food Cooling Guide
                td
                  a.doc(href="/docs/food/hand/cooling%20(Chinese).pdf") Food Cooling Guide
              tr
                td 
                  a.doc(href="/docs/food/hand/Food%20Storage%20E-S.pdf") Food Storage Guide
                td 
                  a.doc(href="/docs/food/hand/Food%20Storage%20E-S.pdf") Food Storage Guide
                td
                  a.doc(href="/docs/food/hand/Food%20Storage%20E-C.pdf") Food Storage Guide
              tr
                td 
                  a.doc(href="/docs/food/hand/Food%20Storage.pdf") Food Storage
                td
                td
                  a.doc(href="/docs/food/hand/Food%20Storage%20(chinese).pdf") Food Storage
              tr
                td 
                  a.doc(href="/docs/food/hand/Temperature%20Danger%20Zone.pdf") Temperature Danger Zone
                td 
                  a.doc(href="/docs/food/hand/Temperature%20Danger%20Zone%20(spanish).pdf") Temperature Danger Zone
                td
                  a.doc(href="/docs/food/hand/Temperature%20Danger%20Zone%20(chinese).pdf") Temperature Danger Zone
              tr
                td 
                  a.doc(href="/docs/food/hand/Thermometer%20Calibration.pdf") Thermometer Calibration
                td 
                  a.doc(href="/docs/food/hand/Thermometer%20Calibration%20(spanish).pdf") Thermometer Calibration
                td
                  a.doc(href="/docs/food/hand/Thermometer%20Calibration%20(chinese).pdf") Thermometer Calibration
              tr
                td 
                  a.doc(href="/docs/food/hand/sink%20use.pdf") Proper Sink Use
                td 
                  a.doc(href="/docs/food/hand/sink%20use%20(spanish).pdf") Proper Sink Use
                td
                  a.doc(href="/docs/food/hand/sink%20use%20(chinese).pdf") Proper Sink Use
              tr
                td 
                  a.doc(href="/docs/food/hand/preventing%20listeriosis.pdf") Preventing Listeriosis
                td 
                  a.doc(href="/docs/food/hand/preventing%20listeriosis%20(spanish).pdf") Preventing Listeriosis
                td
              tr
                td 
                  a.doc(href="/docs/food/hand/deli%20slicers.pdf") Deli Slicers
                td 
                  a.doc(href="/docs/food/hand/deli%20slicers%20(spanish).pdf") Deli Slicers
                td
              tr
                td 
                  a.doc(href="/docs/food/hand/hand%20washing%20and%20employee%20health.pdf") Hand Washing and Employee Health
                td
                td
                  a.doc(href="/docs/food/hand/hand%20washing%20and%20employee%20health%20(chinese).pdf") Hand Washing and Employee Health
              tr
                td 
                  a.doc(href="/docs/food/hand/food%20preparation.pdf") Food Preparation
                td
                td
                  a.doc(href="/docs/food/hand/food%20preparation%20(chinese).pdf") Food Preparation
              tr
                td 
                  a.doc(href="/docs/food/hand/hot%20and%20cold%20holding.pdf") Hot and Cold Holding
                td
                td
                  a.doc(href="/docs/food/hand/hot%20and%20cold%20holding%20(chinese).pdf") Hot and Cold Holding
              tr
                td 
                  a.doc(href="/docs/food/hand/cleaning%20and%20sanitizing.pdf") Cleaning and Sanitizing
                td
                td
                  a.doc(href="/docs/food/hand/cleaning%20and%20sanitizing%20(chinese).pdf") Cleaning and Sanitizing
              tr
                td 
                  a.doc(href="/docs/food/hand/pest%20management.pdf") Pest Management
                td
                td
                  a.doc(href="/docs/food/hand/pest%20management%20(chinese).pdf") Pest Management
              tr
                td 
                  a.doc(href="/docs/food/hand/shellstock%20requirements.pdf") Shellstock Requirements
                td 
                  a.doc(href="/docs/food/hand/shellstock%20requirements%20(Spanish).pdf") Shellstock Requirements
                td
                  a.doc(href="/docs/food/hand/shellstock%20requirements%20(Chinese).pdf") Shellstock Requirements
              tr
                td 
                  a.doc(href="/docs/food/hand/letter%20of%20guarantee.pdf") Letter of Guarantee
                td 
                  a.doc(href="/docs/food/hand/letter%20of%20guarantee%20(spanish).pdf") Letter of Guarantee
                td
                  a.doc(href="/docs/food/hand/letter%20of%20guarantee%20(chinese).pdf") Letter of Guarantee
              tr
                td
                td 
                  a.doc(href="/docs/food/hand/Utensil%20Washing%20(spanish).pdf") Utensil Washing
                td
              tr
                td 
                  a.doc(href="/docs/food/hand/Backflow%20Preventer.pdf") Backflow Prevention
                td
                td
              tr
                td 
                  a.doc(href="/docs/food/hand/Handwashing%20Sign.pdf") Hand Washing Sign
                td
                td
              tr
                td 
                  a.doc(href="/docs/food/hand/pets.pdf") Pets in Food and Retail Establishments
                td
                td
              tr
                td 
                  a.doc(href="/docs/food/hand/See%20Something%20Say%20Something.pdf") See Something, Say Something
                td 
                td
              tr
                td 
                  a.doc(href="/docs/food/hand/Sushi%20Guide.pdf") Sushi Guide
                td
                td
              tr
                td
                  a.doc(href="/docs/food/hand/Temporary%20Food%20Service%20Guidelines.pdf") Temporary Food Service Guidelines
                td
                td
              tr
                td
                  a.doc(href="/docs/food/hand/Temporary%20Food%20Service%20Guidelines-print.pdf") Temporary Food Service Guidelines - booklet
                td
                td
      div.accordion.last
        a(href="")
          p.title Reference
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/food/ref/Bad%20Bug%20Book.pdf") Bad Bug Book
                td 
                  a.doc(href="/docs/food/ref/Acidified%20Foods.pdf") Acidified Foods
              tr
                td 
                  a.doc(href="/docs/food/ref/Pests%20Associated%20With%20Food%20Service.pdf") Pests Associated with Food Service
                td 
                  a.doc(href="/docs/food/ref/Biological%20and%20Chemical%20Hazards%20found%20at%20Retail.pdf") Biological and Chemical Hazardous Found at Retail
              tr
                td 
                  a.doc(href="/docs/food/ref/service_animals_2010.pdf") 2010 ADA Requirements - Service Animals
                td 
                  a.doc(href="/docs/food/ref/Factors%20of%20Microbial%20Growth.pdf") Factors of Microbial Growth
              tr
                td 
                  a.doc(href="/docs/food/ref/Plan%20Review%20Guide%20July%202009.pdf") Plan Review Guide
                td 
                  a.doc(href="/docs/food/ref/Potentially%20Hazardous%20Food.pdf") Potentially Hazardous Foods
              tr
                td 
                  a.doc(href="/docs/food/ref/Food%20Inspection%20Guide.pdf") SF-7E Food Establishemnt Inspection Guide
                td 
                  a.doc(href="/docs/food/ref/Time%20Temperature%20Chart.pdf") Growth Factors - Time and Temperature
              tr
                td 
                  a.doc(href="/docs/food/ref/A%20Pocket%20Guide%20To%20Can%20Defects.pdf") A Pocket Guide to Can Defects
                td 
                  a.doc(href="/docs/food/ref/EColi.pdf") EColi, the Good, the Bad, and the Deadly
              tr
                td 
                  a.doc(href="/docs/food/ref/Interstate%20Certified%20Shellfish%20Shippers%20List.pdf") Interstate Certified Shellfish Shippers List
                td 
                  a.doc(href="/docs/food/ref/Mercury%20In%20Fish.pdf") Mercury in Fish
              tr
                td 
                  a.doc(href="/docs/food/ref/Sanitizer%20Limits.pdf") Sanitizer Limits
                td 
                  a.doc(href="/docs/food/ref/CIFOR-Industry-Guidelines.pdf") Foodborne Illness Response Guidelines
              tr
                td 
                  a.doc(href="/docs/food/ref/Storage%20and%20Handling%20of%20Tomatoes.pdf") Storage and Handling of Tomatoes
                td 
                  a.doc(href="/docs/food/ref/Time%20As%20A%20Control%20For%20Sliced%20Tomatoes.pdf") Time Control for Sliced Tomatoes
    include ./partials/_footer.pug
  div.about.hidden
    include ./partials/_about.pug
  include ./partials/_scripts.pug