include ./partials/_head.pug
body
  .page-wrap
    include ./partials/_nav.pug
    div.wrapper
      p.section-title.bold Land Development
      div.accordion
        a(href="")
          p.title State and Local Rules
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/septic/rules/64CSR9%20Sewage%20System%20Rules.pdf") 64 CSR 9 Sewage Systems
                td 
                  a.doc(href="/docs/septic/rules/150CSR35%20Innovative%20and%20Alternative%20Sewage%20Systems.pdf") 150 CSR 35 Invative and Alternative Sewage Systems
              tr
                td 
                  a.doc(href="/docs/septic/rules/64CSR47%20Sewage%20System%20Design%20Standards.pdf") 64 CSR 47 Sewage System Design Standards
                td 
                  a.doc(href="/docs/septic/rules/SG-55A%20Home%20Loan%20Evaluation%20Procedures.pdf") SG-55A Home Loan Evaluation Procedures
              tr
                td 
                  a.doc(href="/docs/septic/rules/64CSR47%20Table%20B.pdf") 64 CSR 47 Table B - Minimum Design Loading
                td 
                  a.doc(href="/docs/septic/rules/SS-180%20Sewage%20Trucks.pdf") SS-180 Sewage Tank Cleaning Equipment
              tr
                td 
                  a.doc(href="/docs/septic/rules/WV%20Code%2016-13A-9%20Required%20Water%20and%20Sewer%20Connections.pdf") WV Code 16-13A-9 Required Water and Sewer Connection
                td 
                  a.doc(href="/docs/septic/rules/SS-195%20UIC%20permit%20criteria%202016.pdf") SS-195 UIC Permit Criteria
      div.accordion
        a(href="")
          p.title Procedure Manual
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-1%20Septic%20Tank%20Permit%20Moratorium.pdf") WW-1 Septic Tank Permit Moratorium
                td 
                  a.doc(href="/docs/septic/pro/WW-13%20Grease%20Traps.pdf") WW-13 Grease Traps
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-3%20Privy%20Plans%20-%20State%20Department%20of%20Highways.pdf") WW-3 Privy Plans for State Department of Highways
                td 
                  a.doc(href="/docs/septic/pro/WW-14%20Sewage%20Tank%20Cleaning%20Firms.pdf") WW-14 Sewage Tank Cleaning Firms
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-4%20Sewage%20Holding%20Tanks.pdf") WW-4 Sewage Holding Tanks
                td 
                  a.doc(href="/docs/septic/pro/WW-15%20Design%20Criteria%20for%20Subsurface%20Stone%20Filter%20for%20Treatment%20of%20Mine%20Bath%20House%20Wastewater.pdf") WW-15 Design Criteria for Subsurface Stone Filters
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-5%20Attorney%20General's%20Opinion%20-%20Inspection%20of%20Small%20Sewage%20Treatment%20Systems.pdf") WW-5 Attorney General Opinion on Small Treatment Systems
                td 
                  a.doc(href="/docs/septic/pro/WW-16%20Interim%20Design%20Criteria%20for%20Constructed%20Wetlands%20for%20Sewage%20Disposal%20Treatment.pdf") WW-16 Interium Design Criteria for Constructed Wetlands
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-6%20Inspection%20of%20a%20Standard%20Septic%20Tank%20System%20Installation%20revision.pdf") WW-6 Inspection of Standard Septic Tank System Installation
                td 
                  a.doc(href="/docs/septic/pro/WW-18%20Subdivision%20Requirements.pdf") WW-18 Subdivision Requirements
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-7%20Application%20for%20HAU%20with%20Surface%20Discharge.pdf") WW-7 Application for HAU with Surface Discharge
                td 
                  a.doc(href="/docs/septic/pro/WW-20%20Installer%20Certification%20Requirement%20for%20HAU%20Installation.pdf") WW-20 Installer Certification Requirement for HAU Installation
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-8%20Sewage%20Program%20-%20Division%20of%20Responsibility%20May%202011.pdf") WW-8 Sewage Program Division of Responsibility
                td 
                  a.doc(href="/docs/septic/pro/WW-21%20Requirements%20for%20Property%20Owners%20Performing%20Percolation%20Testing.pdf") WW-21 Property Owners Performing Percolation Testing
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-9%20Garbage%20Grinders.pdf") WW-9 Garbage Grinders
                td 
                  a.doc(href="/docs/septic/pro/WW-22%20Sewage%20Tank%20Cleaning.pdf") WW-22 Sewage Tank Cleaning
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-10%20Guidelines%20for%20Approval%20of%20Subdivisions%20Served%20by%20Individual%20On-Site%20Sewage%20Disposal%20Systems.pdf") WW-10 Guidelines for Approval of Subdivisions
                td 
                  a.doc(href="/docs/septic/pro/H-5%20Review%20of%20Individual%20Water%20Well%20and%20Sewage%20System%20Permit%20Applications.pdf") H-5 Review of Individual Well and Sewage Permit Application
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-11%20Reuse%20of%20Package%20Sewage%20Treatment%20Plants.pdf") WW-11 Reuse of Package Sewage Treatment Plants
                td 
                  a.doc(href="/docs/septic/pro/H-12%20Guidelines%20for%20Evaluating%20&%20Approving%20Water%20Supply%20and%20STD%20for%20Home%20Loans%20-.pdf") H-12 Guidelines for Home Loan Evaluations
              tr
                td 
                  a.doc(href="/docs/septic/pro/WW-12%20Permits%20to%20Construct%20Sewer%20Line%20Extensions.pdf") WW-12 Permits to Construct Sewer Line Extensions
      div.accordion
        a(href="")
          p.title Forms
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/septic/forms/ES-57%20Sewage%20System%20Affidavit.pdf") ES-57 Sewage System Affidavit
                td 
                  a.doc(href="/docs/septic/forms/SS-182B%20Onsite%20Sewage%20System%20Application%20Review.pdf") SS-182B on-site Sewage System Permit Application Review
              tr
                td 
                  a.doc(href="/docs/septic/forms/ES-76%20Subdivision%20Application.pdf") ES-76 Subdivision Application
                td 
                  a.doc(href="/docs/septic/forms/SS-182C%20Onsite%20Sewage%20System%20Site%20Survey.pdf") SS-182C on-site Sewage System Site Survey
              tr
                td 
                  a.doc(href="/docs/septic/forms/SG-51%20Nuisance%20Investigation%20Report.pdf") SG-51 Nuisance Investigation Report
                td 
                  a.doc(href="/docs/septic/forms/SS-183%20On-site%20Sewage%20Disposal%20System%20Permit.pdf") SS-183 On-site Sewage System Permit
              tr
                td 
                  a.doc(href="/docs/septic/forms/SG-55%20Home%20Loan%20Evaluation%20Report.pdf") SG-55 Home Loan Evaluation Report
                td 
                  a.doc(href="/docs/septic/forms/SS-188A%20Surface%20Discharge%20Site%20Evaluation.pdf") SS-188A Surface Discharge Site Evaluation
              tr
                td 
                  a.doc(href="/docs/septic/forms/SS%20177%20On-site%20Sewage%20Disposal%20System.pdf") SS-177 On-site Sewage Disposal System Inspection Report
                td 
                  a.doc(href="/docs/septic/forms/SS-188-B%20Surface%20Discharge%20for%20New%20Construction%20%202013.pdf") SS-188B Surface Discharge for New Construction
              tr
                td 
                  a.doc(href="/docs/septic/forms/SS-179%20Sewage%20Tank%20Cleaner%20Inspection.pdf") SS-179 Sewage Tank Cleaner Inspection
                td 
                  a.doc(href="/docs/septic/forms/SS-189%20Home%20Aeration%20Sewage%20Treatment%20Facility%20Inspection%20Report.pdf") SS-189 HAU Sewage Treatment Facility Inspection Report
              tr
                td 
                  a.doc(href="/docs/septic/forms/SS-181%20Application%20for%20Sewage%20Tank%20Cleaning%20Permit.pdf") SS-181 Application for Sewage Tank Cleaning Permit
                td 
                  a.doc(href="/docs/septic/forms/SS-190%20Home%20Aeration%20Unit%20Instillation%20Inspection%20Report.pdf") SS-190 HAU Installation Inspection Report
              tr
                td 
                  a.doc(href="/docs/septic/forms/SS-182%20Well%20and%20Onsite%20Sewage%20Permit%20Application.pdf") SS-182 Well and on-site Sewage System Permit Application
                td 
                  a.doc(href="/docs/septic/forms/SS-192%20Installer%20Certification%20Renewal%20Application.pdf") SS-192 Installer Certification Renewal Application
              tr
                td 
                  a.doc(href="/docs/septic/forms/SS-182A%20Sewage%20System%20Application.pdf") SS-182A on-site Sewage Permit Application
                td 
                  a.doc(href="/docs/septic/forms/stream%20crossing%20application.pdf") Stream Crossing Application
      div.accordion
        a(href="")
          p.title Handouts
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/septic/hand/septic%20tank1.pdf") So now you own a septic system
                td 
                  a.doc(href="/docs/septic/hand/septic%20tank3.pdf") Groundwater protection and your septic system
              tr
                td 
                  a.doc(href="/docs/septic/hand/septic%20tank2.pdf") Care and feeding of your septic system
                td 
                  a.doc(href="/docs/septic/hand/DontFlush.pdf") Don't Sink it - Don't Flush It
      div.accordion.last
        a(href="")
          p.title Reference
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/septic/ref/PHS%20Installers.pdf") Certified Installers List - May 2017
                td 
                  a.doc(href="/docs/septic/ref/Managing%20Stormwater%20in%20Your%20Community.pdf") Managing Stormwater in your Community
              tr
                td 
                  a.doc(href="/docs/septic/ref/WV%20septic%20tank%20manufacturers%20and%20distributors%20list.pdf") Septic Tank Manufacturers and Distributors
                td 
                  a.doc(href="/docs/septic/ref/West_Virginia_Stormwater_Management_and_Design_Guidance_Manual_FULL_November_2012-v2.pdf") West Virginia Storm Water Management
              tr
                td 
                  a.doc(href="/docs/septic/ref/Stream%20Crossing%20Presentation%20EnviroSeminar.pdf") Stream Crossing Presentation
                td 
                  a.doc(href="/docs/septic/ref/LPP.xlsx") LPP Tool (opens in Excel)
              tr
                td 
                  a.doc(href="/docs/septic/ref/Freds%20Figurer%20Upper%20Oct%2031%202011.xlsx") Fred's Figurer Upper (opens in Excel)
                td 
                  a.doc(href="/docs/septic/ref/Testing%20Reference%20Labs.pdf") Environmental Reference Testing Labs
              tr
                td 
                  a.doc(href="/docs/septic/ref/Sand%20Filter%20System%20Illustration.pdf") Sand Filter System Illustration
    include ./partials/_footer.pug
  div.about.hidden
    include ./partials/_about.pug
  include ./partials/_scripts.pug