include ./partials/_head.pug
body
  .page-wrap
    include ./partials/_nav.pug
    div.wrapper
      p.section-title.bold Recreational Water Facilities
      div.accordion
        a(href="")
          p.title State and Local Rules
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/pool/rules/64CSR16%20Recreational%20Water%20Facilities.pdf") 64CSR16 Recreational Water Facilities
                td 
                  a.doc(href="/docs/pool/rules/User%20Load.pdf") Swimming Pool User Load
              tr
                td 
                  a.doc(href="/docs/pool/rules/SR-153_Recreation_Water_Facilities_Closure_Requirements_Tables.pdf") SR-153 Recreational Water Facility Closure Events
                td 
                  a.doc(href="/docs/pool/rules/ANSI-APSP-7%202006%20Suction%20Entrapment%20Avoidance.pdf") ANSI-APSP-7 2006 Suction Entrapment Avoidance
      div.accordion
        a(href="")
          p.title Procedure Manual
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/pool/pro/R-1_Recreational_Water_Facilities_Program.pdf") R-1 Recreational Water Facilities Program
              tr
                td 
                  a.doc(href="/docs/pool/pro/R-2_Recreational_Water_Facility_Sampling.pdf") R-2 Recreational Water Facility Sampling
              tr
                td 
                  a.doc(href="/docs/pool/pro/R-3_Lifeguards_Requried_to_Stay_in_Chairs_or_on_Platforms_During_Their_Watch.pdf") R-3 Lifeguards Required to Stay in Chairs
      div.accordion
        a(href="")
          p.title Forms
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/pool/forms/Recreational%20Water%20Facilities%20Inspection.pdf") Recreational Water Facility Inspection
                td
                  a.doc(href="/docs/pool/forms/Swimming_Pool-Spa_Application.pdf") Recreational Water Facility Plan Review Application
              tr
                td 
                  a.doc(href="/docs/pool/forms/Weekly%20Pool%20Report.pdf") Weekly Pool Report
                td
                  a.doc(href="/docs/pool/forms/environmental-health-outbreak-survey-swimming-pool.pdf") RWI Outbreak Survey
      div.accordion
        a(href="")
          p.title Handouts
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/pool/hand/six-steps-healthy-swimming-poster.pdf") 6 Steps for Healthy Swimming
                td
                  a.doc(href="/docs/pool/hand/Pool%20Signs.pdf") Required Pool Signs
              tr
                td 
                  a.doc(href="/docs/pool/hand/First%20Aid%20Kit.pdf") First Aid Kit Contents
                td
                  a.doc(href="/docs/pool/hand/Pool%20Emergency%20Guide.pdf") Sample Pool Emergency Action Plan
              tr
                td 
                  a.doc(href="/docs/pool/hand/ADA%20faq's.pdf") ADA FAQ's About Recreational Water Facilities
      div.accordion.last
        a(href="")
          p.title Reference
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/pool/ref/fecal-incident-response-guidelines.pdf") Fecal Incident Response
                td 
                  a.doc(href="/docs/pool/ref/Pool%20Checklist.pdf") Pool Inspection Checklist
              tr
                td 
                  a.doc(href="/docs/pool/ref/Blood%20in%20the%20pool.pdf") Blood in the Pool
                td 
                  a.doc(href="/docs/pool/ref/Pool%20Inspection%20Guide.pdf") Pool Inspection Guide
              tr
                td 
                  a.doc(href="/docs/pool/ref/Cleaning%20Up%20Body%20Fluid%20Spills%20on%20Pool%20Surfaces.pdf") Cleaning Body Fluids
                td 
                  a.doc(href="/docs/pool/ref/Vacuum%20Gauge.pdf") Vacuum Gauge on a Return Line
              tr
                td 
                  a.doc(href="/docs/pool/ref/Dead%20Animals%20in%20the%20Pool.pdf") Dead Animals in the Pool
                td 
                  a.doc(href="/docs/pool/ref/2010%20ADA%20Standards.pdf") ADA 2010 - Design Standards
              tr
                td 
                  a.doc(href="/docs/pool/ref/Birds%20in%20the%20pool.pdf") Birds in the Pool
                td 
                  a.doc(href="/docs/pool/ref/titleII_2010_regulations.pdf") ADA 2010 - Title II
                  
              tr
                td 
                  a.doc(href="/docs/pool/ref/Dogs%20in%20pools.pdf") Dogs in Pools
                td 
                  a.doc(href="/docs/pool/ref/pssa.pdf") Virgina Graham Baker PSSA
              tr
                td 
                  a.doc(href="/docs/pool/ref/Raccoons%20in%20the%20pool.pdf") Raccoons in the Pool
                td 
                  a.doc(href="/docs/pool/ref/ResourceGuide.pdf") VGB PSSA Resouce and Training Guide
              tr
                td 
                  a.doc(href="/docs/pool/ref/osha3186.pdf") OSHA Bloodborne Pathogen Guide
                td 
                  a.doc(href="/docs/pool/ref/Unblockable%20Drain%20Interpretation%20Oct%202011.pdf") Interpretation of 'Unblockable Drain'
              tr
                td 
                  a.doc(href="/docs/pool/ref/core_guidelines.pdf") Cryptosporidiosis Outbreak Response
                td 
                  a.doc(href="/docs/pool/ref/Pool%20Safety%20Anti%20Entrapment%20Devices%202011.pdf") Anti Entrapment Devices
    include ./partials/_footer.pug
  div.about.hidden
    include ./partials/_about.pug
  include ./partials/_scripts.pug