include ./partials/_head.pug
body
  .page-wrap
    include ./partials/_nav.pug
    div.wrapper
      p.section-title.bold Rabies and Vector Control
      div.accordion
        a(href="")
          p.title State and Local Rules
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/rabies/rules/RABIES%20GUIDE%20FINAL%20June%202010.pdf") DC-4 Rabies Surveillance, Management and Control Manual
                td 
                  a.doc(href="/docs/rabies/rules/16-9-3%20Public%20Health%20Offenses%20Generally.pdf") WV Code 16-9 Disposal of Dead Animals
              tr
                td 
                  a.doc(href="/docs/rabies/rules/WV%20Code%2019-20.pdf") WV Code 19-20 Dogs and Cats
                td 
                  a.doc(href="/docs/rabies/rules/WEST%20VIRGINIA%20CODE%2061-3%20-%20Unauthorized%20Use%20of%20Dumpsters.pdf") WV Code 61-3 Unauthorized Use of Dumpsters
              tr
                td 
                  a.doc(href="/docs/rabies/rules/WV%20Code%20Chapter%2020A%20-%20Vaccination%20of%20Dogs%20and%20Cats.pdf") WV Code 19-20A Vaccine Requirements for Dogs and Cats
                td 
                  a.doc(href="/docs/rabies/rules/WEST%20VIRGINIA%20CODE%2022C-4-10.pdf") WV Code 22C-4-10 Solid Waste Disposal
              tr
                td 
                  a.doc(href="/docs/rabies/rules/ANIMAL%20BITE%20protocol.pdf") WVBPH Rabies Surveillance Protocol
              tr
                td 
                  a.doc(href="/docs/rabies/rules/64CSR7%20Excerpt.pdf") 64 CSR 7 Excerpt - Reportable Diseases - Animal Bites
      div.accordion
        a(href="")
          p.title Procedure Manual
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/rabies/pro/DC-1%20Environmental%20Epidemiology.pdf") DC-1 Environmental Epidemiology
              tr
                td 
                  a.doc(href="/docs/rabies/pro/DC-2%20Criteria%20for%20Acceptance%20of%20Automatic%20Vaporizing%20Devices%20Dispensing%20Insecticides.pdf") DC-2 Criteria for Automatic Vaporizing Devices
              tr
                td 
                  a.doc(href="/docs/rabies/pro/DC-3%20Use%20of%20DDVP%20Vapona%20Insecticide%20Resin%20Strips.pdf") DC-3 Use of DDVP - Vapona Insecticide Resin Strips
      div.accordion
        a(href="")
          p.title Forms
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/rabies/forms/SG-58%20Animal%20Encounter%20Report.pdf") Animal Encounter Report
                td 
                  a.doc(href="/docs/rabies/forms/Laboratory%20Submission%20Form%20-%20Rabies.pdf") Laboratory Submission Form
              tr
                td 
                  a.doc(href="/docs/rabies/forms/Notice%20of%20Animal%20Quarantine.pdf") Notice of Animal Quarantine
                td 
                  a.doc(href="/docs/rabies/forms/Specimen%20Kit%20Request%20Form.pdf") Specimin Kit Request Form
      div.accordion
        a(href="")
          p.title Handouts
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/rabies/hand/Rabies%20pamphlet.pdf") Rabies Information Pamphlet
                td 
                  a.doc(href="/docs/rabies/hand/Repellent.pdf") Don't Let the Bed Bugs Bite!!!
      div.accordion.last
        a(href="")
          p.title Reference
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/rabies/ref/dide%20rabies%20protocol%20algorithm.pdf") Rabies Risk Assesment Flow Chart
                td 
                  a.doc(href="/docs/rabies/ref/Biology%20and%20Management%20of%20Rodents.pdf") Biology and Management of Rodents
              tr
                td 
                  a.doc(href="/docs/rabies/ref/RabiesCompendium.pdf") Compendium of Animal Rabies Prevention and Control
                td 
                  a.doc(href="/docs/rabies/ref/Misc%20Pests.pdf") Misc Pestss
              tr
                td 
                  a.doc(href="/docs/rabies/ref/PEP%20Schedule%202008.pdf") Rabies PEP Schedule
              tr
                td 
                  a.doc(href="/docs/rabies/ref/Monkie%20Pox.pdf") Prairie Dogs and Monkey Pox
              tr
                td 
                  a.doc(href="/docs/rabies/ref/2015%20USDA%20Rabies%20Surveillance.pdf") USDA Rabies Surveillance Data 2015
    include ./partials/_footer.pug
  div.about.hidden
    include ./partials/_about.pug
  include ./partials/_scripts.pug