include ./partials/_head.pug
body
  .page-wrap
    include ./partials/_nav.pug
    div.wrapper
      p.section-title.bold Private Wells and Public Water
      div.accordion
        a(href="")
          p.title State and Local Rules
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/water/rules/64CSR19%20Water%20Well%20Regulations.pdf") 64CSR19 Water Well Regulations
                td 
                  a.doc(href="/docs/water/rules/64CSR3%20Public%20Water%20Systems.pdf") 64CSR3 Public Water Systems
              tr
                td 
                  a.doc(href="/docs/water/rules/64CSR46%20Water%20Well%20Design%20Standards.pdf") 64CSR46 Water Well Design Standards
                td 
                  a.doc(href="/docs/water/rules/64CSR4%20Public%20Water%20Systems%20Operator%20Regulations.pdf") 64CSR4 Public Water Systems Operator Regulations
              tr
                td 
                  a.doc(href="/docs/water/rules/64CSR15%20Cross-Connection%20Control%20and%20Backflow%20Prevention.pdf") 64CSR15 Cross-Connection Control and Backflow Prevention
                td 
                  a.doc(href="/docs/water/rules/64CSR77%20Public%20Water%20Systems%20Design%20Standards.pdf") 64CSR77 Public Water Systems Design Standards
      div.accordion
        a(href="")
          p.title Procedure Manual
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-1%20Individual%20Water%20Supplies.pdf") DW-1 Individual Water Supplies
                td 
                  a.doc(href="/docs/water/pro/DW-33%20Bottled%20Water%20and%20Water%20Vending%20in%20Retail%20Food%20Stores.pdf") DW-33 Bottled Water and Water Vending in Retail
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-6%20Handpumps%20092209.pdf") DW-6 Handpumps
                td 
                  a.doc(href="/docs/water/pro/DW-34%20Guidelines%20for%20Bottled%20Water%20Plants%20in%20Retail%20Food%20Stores.pdf") DW-34 Guidelines for Bottled Water Plants in Retail
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-9%20Water%20Well%20and%20Sewage%20System%20Applications%20and%20Permits.pdf") DW-9 Water Well and Sewage System Applications and Permits
                td 
                  a.doc(href="/docs/water/pro/DW-37%20PN%20gm%2009-10-09.pdf") DW-37 Public Notices for Public Water Systems
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-13%20Inspection%20of%20Non-Community%20Public%20Water%20Supplies%20new.pdf") DW-13 Inspection of Non-Community Public Water  Supplies
                td 
                  a.doc(href="/docs/water/pro/DW-38%20Individual%20Home%20Water%20Supply%20Chlorination%20Systems.pdf") DW-38 Individual Home Water Supply Chlorination Systems
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-17%20Sodium-ion%20in%20Public%20Water%20Supplies.pdf") DW-17 Sodium-ion in Public Water Supplies
                td 
                  a.doc(href="/docs/water/pro/Dw-39%20Horizontal%20Distance%20between%20well%20and%20feeding%20area.pdf") DW-39 Horizontal Distance Between Well and Feeding Area
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-18%20Boil%20Water%20Guidelines%20For%20Public%20Facilities.pdf") DW-18 Boil Water Guidelines for Public Facilities
                td 
                  a.doc(href="/docs/water/pro/DW-40%20Use%20of%20Suspension.pdf") DW-40 Suspension of Public Water Operator Certification
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-19%20Approval%20of%20Individual%20Homeowner%20Wells%20in%20Developments%20with%20Approved%20Public%20Water%20Supply%20Systems.pdf") DW-19 Individual Wells in Developments With Public Water
                td 
                  a.doc(href="/docs/water/pro/DW-41%20Tablet%20Chlorinators%20for%20Public%20Water%20Supply%20Systems.pdf") DW-41 Tablet Chlorinators for Public Water Supply Systems
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-20%20Permits%20to%20Construct%20Water%20Line%20Extensions.pdf") DW-20 Permits to Construct Water Line Extensions
                td 
                  a.doc(href="/docs/water/pro/DW-42%20Drinking%20Water%20Additives%20and%20System%20Components.pdf") DW-42 Drinking Water Additives and System Components
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-21%20Use%20of%20Lead%20Pipe%20and%20Lead%20Solder%20in%20Public%20Water%20Supplies.pdf") DW-21 Use of Lead Pipe and Lead Solder in Public Water
                td 
                  a.doc(href="/docs/water/pro/DW-43%20Upgrading%20Public%20Water%20Supply%20Wells.pdf") DW-43 Upgrading Public Water Supply Wells
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-22%20Reports%20of%20Violations%20-%20Water%20Well%20Regulations%20and%20Design%20Standards.pdf") DW-22 Reports for Violations of Water Well Regulations
                td 
                  a.doc(href="/docs/water/pro/DW-45%20Responsibility%20for%20Construction%20and%20Abandonment%20of%20Water%20Wells.pdf") DW-45 Construction and Abandonment of Water Wells
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-23%20Boil%20Water%20Notices%20for%20Public%20Water%20Systems%20060609.pdf") DW-23 Boil Water Notices for Public Water Systems
                td 
                  a.doc(href="/docs/water/pro/DW-46%20Guidelines%20for%20Disinfecting%20Water%20Supplies.pdf") DW-46 Guidelines for Disinfecting Water Supplies
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-27%20Requirements%20for%20Potable%20Water%20Haulers.pdf") DW-27 Requirements for Potable Water Haulers
                td 
                  a.doc(href="/docs/water/pro/DW-47%20Sanitary%20Survey%20Procedures%20092509.pdf") DW-47 Sanitary Survey Procedures
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-28%20Issuance%20of%20Water%20Well%20Permits%20for%20Homeowner%20Water%20Wells.pdf") DW-28 Water Well Permits for Homeowner Water Wells
                td 
                  a.doc(href="/docs/water/pro/DW-48%20Proposed%20Population%20Procedure.pdf") DW-48 Proposed Population Procedure
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-30%20Water%20Well%20Drillers%20Certification%20Testing.pdf") DW-30 Water Well Drillers Certification Testing
                td 
                  a.doc(href="/docs/water/pro/DW-49%20Membrane%20Turbidity%20Standards%20111210.pdf") DW-49 Membrane Turbidity Standards
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-31%20Guidance%20for%20Water%20Treatment%20Plant%20Operators%20Resignations.pdf") DW-31 Water Treatment Plant Operator Resignations
                td 
                  a.doc(href="/docs/water/pro/DW-51%20Cathodic%20Protection%20Wells.pdf") DW-51 Cathodic Protection Wells
              tr
                td 
                  a.doc(href="/docs/water/pro/DW-32%20Water%20Well%20Permit%20Grievance%20and%20Mediation%20Process.pdf") DW-32 Water Well Permit Grievance and Mediation Process
      div.accordion
        a(href="")
          p.title Forms
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/water/forms/EW-79A%20Registration%20for%20Potable%20Water%20Haulers.pdf") EW-79A Registration for Portable Water Haulers
                td 
                  a.doc(href="/docs/water/forms/SW-258%20Water%20Well%20Completion%20Report.pdf") SW-258 Water Well Completion Report
              tr
                td
                  a.doc(href="/docs/water/forms/EW-79B%20Water%20Hauler%20Truck%20Inspection%20Report.pdf") EW-79B Water Hauler Truck Inspection Report
                td 
                  a.doc(href="/docs/water/forms/SW-259%20Water%20Well%20and%20Pump%20Violation%20Report.pdf") SW-259 Water Well and Pump Violation Report
              tr
                td 
                  a.doc(href="/docs/water/forms/EW-79C%20Quarterly%20Log%20for%20Potable%20Water%20Haulers.pdf") EW-79C Quarterly Log for Portable Water Haulers
                td 
                  a.doc(href="/docs/water/forms/SW-260%20Water%20Well%20Variance%20Request%20Form.pdf") SW-260 Water Well Variance Request
              tr
                td 
                  a.doc(href="/docs/water/forms/SW-253%20Water%20Sample%20Request.pdf") SW-253 Water Sample Request
                td 
                  a.doc(href="/docs/water/forms/SW-261%20Water%20Well%20Abandonment%20Report.pdf") SW-261 Water Well Abandonment Report
              tr
                td 
                  a.doc(href="/docs/water/forms/SW-256%20Water%20Well%20Permit%20Application.pdf") SW-256 Water Well Permit Application
                td 
                  a.doc(href="/docs/water/forms/SW-262%20Water%20Well%20Pump%20Installation%20Report.pdf") SW-262 Water Well Pump Installation Report
      div.accordion
        a(href="")
          p.title Handouts
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/water/hand/Certified%20Well%20Drillers%20List.pdf") Certified Well Drillers List
                td 
                  a.doc(href="/docs/water/hand/Signs%20You%20Should%20Test%20Your%20Well.pdf") Signs You Should Test Your Well
              tr
                td 
                  a.doc(href="/docs/water/hand/How%20to%20Disinfect%20a%20Private%20Water%20Well.pdf") How to Disinfect a Water Well
                td 
                  a.doc(href="/docs/water/hand/Steps%20to%20Protect%20Your%20Water%20Supply.pdf") Steps to Protect Your Water Supply
              tr
                td 
                  a.doc(href="/docs/water/hand/Private%20Water%20Well%20Owners%20What%20to%20Do%20Before%20Drilling%20the%20Well.pdf") What to Do Before Drilling the Well
                td 
                  a.doc(href="/docs/water/hand/SG-80%20Disinfecting%20Water%20Supply.pdf") SG-80 Disinfecting the Water Supply
              tr
                td 
                  a.doc(href="/docs/water/hand/Private%20Well%20Owners%20Four%20Steps%20to%20Water%20Well%20Safety.pdf") 4 Steps to Water Well Safety
                td 
                  a.doc(href="/docs/water/hand/SG-81%20Disinfecting%20Small%20Quantities%20of%20Water.pdf") SG-81 Disinfecting Small Quantities of Water
              tr
                td 
                  a.doc(href="/docs/water/hand/Private%20Water%20Well%20Owners%20Water%20Well%20Pumping%20Systems.pdf") Water Well Pumping Systems
      div.accordion.last
        a(href="")
          p.title Reference
          p.plus-minus
            span +
        div.details(data-state="closed")
          table
            tbody
              tr
                td 
                  a.doc(href="/docs/water/ref/SW-252c%20Springs.pdf") SW-252c Springs
                td 
                  a.doc(href="/docs/water/ref/Certified%20Water%20Quality%20Laboratories.pdf") Certified Water Quality Laboratories
              tr
                td 
                  a.doc(href="/docs/water/ref/SW-252d%20Cisterns.pdf") SW-252d Cisterns
                td 
                  a.doc(href="/docs/water/ref/Common%20Sources%20of%20Groundwater%20Contamination.pdf") Common Sources of Groundwater Contamination
              tr
                td 
                  a.doc(href="/docs/water/ref/SW-252e%20Installing%20a%20Hand%20Pump.pdf") SW-252e Installing a Hand Pump
                td 
                  a.doc(href="/docs/water/ref/Thermal%20Expansion%20and%20Water%20Hammer.pdf") Thermal Expansion and Water Hammer
              tr
                td 
                  a.doc(href="/docs/water/ref/SW-252g%20Pitless%20Units.pdf") SW-252g Pitless Units
                td 
    include ./partials/_footer.pug
  div.about.hidden
    include ./partials/_about.pug
  include ./partials/_scripts.pug